$primary: rgb(255, 223, 0);
$secondary: rgb(0, 150, 0);

header {
    //background: $primary;
    background-image: linear-gradient(green 1%, $primary);
    padding: 2.2em 0;
    text-align: center;
    font-size: 1.5em;
    a{
        color: black;
        text-decoration: none;
    }
    a.logo {
        font-weight: bold;
        font-size: 1.8em;
        
    }
}

nav {

    float: left;
    ul{
        list-style-type: none;
        margin: 0;
        display: flex;
        li a {
            padding: 1em;
            &:hover {
                //background: darken($primary, 10%);
                color: $secondary;
            }
        }
    }
}
