body {
    color: gold;
    background-image: linear-gradient(to bottom right, green 35%, blue);
    padding: 50px;
    text-align: center;
    padding-bottom: 20%;
}

h1 {
    padding: 5.5%;
    font-size: 4em;
}