<div>
    <div class="item">
        <h2>Veiled Chameleon</h2>
        <img src="assets/img/veiled.jpeg" alt="veiled">
        <h3>Quantity: 1</h3>
        <h3>Price: $99.99</h3>
        <button class="quantity">Quantity</button>
        <button class="delete">Delete</button>
    </div>
    
    <div class="item">
        <h2>Jackson Chameleon</h2>
        <img src="assets/img/jackson.jpg" alt="veiled">
        <h3>Quantity: 1</h3>
        <h3>Price: $79.99</h3>
        <button class="quantity">Quantity</button>
        <button class="delete">Delete</button>
    </div>
    <br>
    <input type="submit" value="Checkout" href="#" routerLink="/checkout">
</div>


