<!-- all images go to details page when clicked because they 
all have a router link to that page  -->
<div class=page>
    <h2>Chameleon Breeds</h2>

    <h3>Panther Chameleon</h3>
    <div class=gallery>
        <img src="assets/img/panther.jpg" alt="panther" img href="#" routerLink="/detail">
    </div>
    <br>
    

    <h3>Veiled Chameleon</h3>
    <div class=gallery>
        <img src="assets/img/veiled.jpeg" alt="veiled" img href="#" routerLink="/detail">
    </div>
    <br>


    <h3>Jackson Chameleon</h3>
    <div class=gallery>
        <img src="assets/img/jackson.jpg" alt="jackson" img href="#" routerLink="/detail">
    </div>
    <br>

</div>
