<div class="page">
    <h4>Panther Chameleon</h4>
    <div class=gallery>
        <img src="assets/img/panther.jpg" alt="panther">
        <p>
            <br>
            Lifespan: 2-3 years<br>
            Price: $149.99<br>
            Status: "Out of stock"
        </p>
    </div>
    <br>
    

    <h4>Veiled Chameleon</h4>
    <div class=gallery>
        <img src="assets/img/veiled.jpeg" alt="veiled">
        <p>
            <br>
            Lifespan: 5 years<br>
            Price: $99.99<br>
            Status: "In stock"
        </p>
    </div>
    <br>


    <h4>Jackson Chameleon</h4>
    <div class=gallery>
        <img src="assets/img/jackson.jpg" alt="jackson">
        <p>
            <br>
            Lifespan: 5-10 years<br>
            Price: $79.99<br>
            Status: "In stock"
        </p>
    </div>
    <br>
</div>
