$secondary: rgb(0, 150, 0);

h2, p {
    text-align: center;
    padding: 5px;
}

.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 5%;
}

iframe {
    border-style: solid;
    border-color: $secondary;
    border-width: 10px;
}

.page{
    text-align: center;
    background-color: silver;
    padding: 10px;
}
